
@import url('https://fonts.googleapis.com/css2?family=Asset&family=BBH+Bartle&family=Bowlby+One+SC&family=Frijole&family=Gravitas+One&family=Mrs+Saint+Delafield&family=Notable&family=Sigmar+One&family=Unlock&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');






body{
    min-height: 100vh;
}
 .ordercard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 150px;
padding: 200px;
background-color: bisque;
border: 2px solid black;
border-radius: 20px;
width: 320px;
 }   
.head h1{
    text-align: center;
    color: yellowgreen;
    margin-top: 50px;
    font-family: "Unlock", serif;
  font-weight: 400;
  font-style: normal

}
