.btn li{
    display: block;
   
    color: white;
    padding: 20px 25px;
    text-decoration: none;


}
.btn ul{
    display: flex;
    background-color: burlywood;
    justify-content: right;
    margin: 0;
    padding: 0;
   list-style-type: none;
}
h1{
  text-align: center;
    color: rgb(66, 81, 82);
    font:bolder;
    background-color: chartreuse;
    padding-top: 30px;
   
    width: 50%;
    max-width: 500px;
  margin: 20px 50px 50px 20px;
   
  
   
   
    
}
    

body{
    margin: 0;
    padding: 0;
   
  


}
.main label{
    position: relative;

}
.main{
    background-color: rgb(222, 167, 96);
    justify-content: center;
    padding-top: 20px;
}